@font-face {
    font-family: Reis;
    src: url(../fonts/REIS-Regular.ttf);
}

::selection {
	background: #0099cc;
}

#to-top {
	visibility: hidden;
	width: 60px;
	height: 60px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	border-radius: 30px;
	background-color: #0099cc;
	background-image: url(../imgs/redox.png);
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	color: #fff;
	padding-top: 12px;
	text-align: center;
}

body {
	font-family: Montserrat, sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Calisto MT', serif;
}

#header, nav{
	background-image: url(../imgs/redox.png);
	background-color: #0099cc;
	background-attachment: fixed;
}

#top-bar {
	height: 210px;
	margin-top: 50px;
}

#logo-text {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	padding-top: 15px;
	text-transform: uppercase;
	font-family: Reis, sans-serif;
	font-size: 100px;
	text-shadow: 0px 0px 10px rgba(0,0,0,.5);
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.great {
	color: #ff0000;
}
.white {
	color: #fff;
}

#logo-panel {
	width: 400px;
	margin: auto;
	animation: fadeIn 1.5s linear;
	transition: opacity .5s;
}

#logo-panel:hover {
	cursor: pointer;
	opacity: .8;
}

#logo-panel h2 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0,0,0,.5);
	font-size: 27px;
	width: 400px;
}

#top-logo {
	margin: auto;
	transition: opacity .3s;
}

.navbar {
	border-radius: 0;
	border: 0;
}

.navbar a {
	color: #fff;
	text-transform: uppercase;
}

.navbar li a {
	animation: fadeIn 1.5s linear;
}

.navbar li a:hover {
	background-color: transparent;
	animation: pulse .5s linear infinite;
}

.navbar li a:focus {
	background-color: transparent;
}

.row {
	max-width: 1170px;
	margin: auto;
}

.inspect-text {
	position: absolute;
	top: -5px;
	left: 0;
	right: 0;
	font-family: Reis, sans-serif;
	color: #ff0000;
	font-size: 50px;
	visibility: hidden;
}

.show-inspect {
	visibility:visible; 
}

#services h2, #portfolio h2 {
	animation: fadeIn 1.5s linear;
}

.service-panel, .client-panel, .pricing-panel {
	text-align: center;
	margin-top: 20px;
}

.service-panel, .client-panel {
	animation: fadeIn 1.5s linear;
}

.service-panel:hover, .pricing-panel:hover {
	cursor: pointer;
}

.client-panel img {
	margin: auto;
}

.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 18px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
  color: #fff;
}

.btn:focus {
	color: #fff;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3c93d5;
}

.blue:hover {
  background-color: #6fc6ff;
	color: #fff;
}

a.inspect-text:hover {
	text-decoration: none;
	color: #ff0000;
}

#portfolio{
	background-color: #efefef;
	background-image: url(../imgs/shark-skin.png);
	background-attachment: fixed;
	margin-top: 20px;
	padding-bottom: 20px;
}

#contact {
	background-color: #efefef;
	background-image: url(../imgs/rocks.png);
	background-attachment: fixed;
	margin-top: 20px;
	padding-bottom: 20px;
}

.contact-link-outer {
	padding-bottom: 10px;
}

.contact-link {
	color: #3c93d5;
	transition: color .5s;
}

.contact-link:hover {
	text-decoration: none;
	color: #6fc6ff;
}

#contact .fa {
	color: #ff0000;
	width: 15px;
}

#pricing ul {
	list-style-type: none;
	padding-left: 0px;
}

.form-control {
	margin-top: 10px;
}

#contact button {
	margin-top: 10px;
}

footer {
	background-color: #bbb;
	background-image: url(../imgs/brushed-aluminium.png);
	background-attachment: fixed;
}

#big-fish{
	font-family: Reis, sans-serif;
	font-size: 70px;
	color: #ff0000;
}

/* ANIMATIONS */
.pulse {
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(.95);
		opacity: 0.9;		
	}
	50% {
		transform: scale(1.05);
		opacity: 1;	
	}	
	100% {
		transform: scale(.95);
		opacity: 0.9;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1.05);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}

.fadeIn {
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}

.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(12%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(12%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

.flicker{
	animation-name: flicker;
	-webkit-animation-name: flicker;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes flicker {
	0% {
		opacity: .7;	
	}
	50% {
		opacity: 1;	
	}	
	100% {
		opacity: .7;
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(12%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}